@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin-inline: auto;
  max-width: 800px;
  justify-content: center;
}

nav {
  text-align: center;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: #88612d;
}

.card-container {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.card-wrapper-link {
  text-decoration: none;
  color: inherit;
  border-radius: 8px;
  border: 1px solid #1d1d1d;
}
article {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  padding: 5px;
}

article h2 {
  font-weight: bold;
  color: #1d1d1d;
  padding-block: 10px;
  margin: 0;
}

article p {
  margin: 0;
}
.card-image {
  object-fit: cover;
  background-repeat: no-repeat;
  width: auto;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
}
