.cover-image {
  width: 100%;
  aspect-ratio: 21 / 9;
  object-fit: cover;
  border-radius: 8px;
}

h2 {
  text-align: center;
}
.instruction {
  font-style: italic;
  font-weight: bold;
}

@media print {
  .cover-image {
    display: none;
  }
}
